<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Baron Solar System</title>
        <link rel="icon" type="image/jpg" href="assets/img/mainicon.jpg">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="assets/css/mainstyle.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
       
    </head>
    <body>
        <header>
            <a href="" class="logo">BARON SOLAR SYSTEM</a>
            <nav class="navigation">
                <a href="#projects" class="service-btn">Projects</a>
                <a href="#contact" class="contact-btn">Contact</a>
                <a href="/login" class="login-btn">Login</a>
                
            </nav>
        </header>
        
        <section class="main">
            <div class="content-main">
                <h2>Solar & Renewable Energy</h2>
                <h3 class="heading-two">A leading national company in the field of solar energy, seeking to exploit alternative sources of energy</h3>
                <a href="#projects" class="main-btn">View Projects</a>
                <div class="social-icons">
                    <a href="https://www.facebook.com/BSS.baronsolar" target="_blank" class="fb-icon"><i class="fa-brands fa-facebook" style="color: #2a6cdf;"></i></a>
                    <a href="https://www.instagram.com/bss.baronsolar/" target="_blank" class="insta-icon"><i class="fa-brands fa-instagram" style="color: #2a6cdf;"></i></a>
                </div>  
            </div>
            
            
        </section>
        
        
        <section class="section-all" id="projects" >
            <h2 class="title" >Projects</h2>
            <div class="content-cards">
                <div class="card">
                    <div >
                        <video  class="project-video" controls>
                            <source src="assets/videos/beitleqia10kw.mp4" type="video/mp4">
                         </video>   
                    </div>
                    <div class="project-description">
                        <p>Project in BeitLeqia with size 10KW</p>
                        <a href="#"></a>
                    </div>
                        
                </div>
                
                <div class="card">
                    <div >
                        <video  class="project-video" controls>
                            <source src="assets/videos/Beirzeit5kw.mp4" type="video/mp4">
                         </video>   
                    </div>
                    <div class="project-description">
                        <p>Project in Beirzeit with size 5KW</p>
                        <a href="#"></a>
                    </div>
                        
                </div>
                
                <div class="card">
                    <div >
                        <video  class="project-video" controls>
                            <source src="assets/videos/beitleqia5kw.mp4" type="video/mp4">
                         </video>   
                    </div>
                    <div class="project-description">
                        <p>Project in BeitLeqia with size 5KW</p>
                        <a href="#"></a>
                    </div>
                        
                </div>
                
               
               
               
            </div>
        </section>
        
        <section class="contact" id="contact">
            <h2 class="title">Let's work together</h2>
            <div class="content-cards">
                <div class="card">
                    <div class="icon">
                        <i class="fas fa-phone"></i>
                          
                    </div>
                    <div >
                        <p class="description" >+972599123123</p>
                        
                    </div>
                        
                </div>
                
                <div class="card">
                    <div class="icon">
                        <i class="fas fa-envelope"></i>   
                    </div>
                    <div >
                        <p class="description">hasan.hamdallah@gmail.com</p>
                    </div>
                        
                </div>
                
            </div>
        </section>
        
        <footer class="footer">
            <p> Copyrights @ <span>Nancy Hamdallah</span></p>
            <nav>
                <a href="facebook-developer" ><i class="fa-brands fa-facebook" style="color: #2a6cdf;"></i></a>
                <a href="instagram-developer" ><i class="fa-brands fa-instagram" style="color: #2a6cdf;"></i></a>
            </nav>
               
        </footer>
    </body>
    
    <script src="jsfile.js"></script>
</html>
